# PyTorch with CUDA support
--extra-index-url https://download.pytorch.org/whl/cu118
torch

# Core dependencies
huggingface_hub
wandb
einops
eindex-callum
functools
numpy
tqdm
tabulate
jaxtyping
rich
transformer_lens
transformers
jupyter
paramiko